body.dark-mode {
  background-color: #000000;
  color: #d3d3d3;
}

header.dark-mode {
  background-color: #000000;
}

footer.dark-mode {
  background-color: #000000;
}

section.dark-mode {
  background-color: #000000;
}

button.dark-mode {
  background-color: #444444;
  color: #ffffff;
}

a.dark-mode {
  color: #1e90ff;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  font-family: "Arial", serif;
  background-color: #e4c333;
}

header {
  text-align: center;
  background-color: #ff9a6c;
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 4px;
  padding-bottom: 24px;
}

header h1 {
  margin-bottom: 8px;
}

header a {
  color: #ffffff;
  font-weight: 600;
  /*topo, direita, baixo, esquerda*/
  padding: 40px 0px 0px 0px;
  text-decoration: none;
  font-size: large;
}

#sugestao {
  background-color: #ff725e;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 5px 4px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

#image-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ff6600;
  padding: 20px 0px 1px 2px;
  margin-top: 20px; /* Adiciona espaço entre o título e as imagens */
}

#image-section img {
  width: 160px;
  max-width: 160px;
  height: 160px;
  max-height: 160px;
  border-radius: 8px;
  margin-bottom: 10px; /* Adiciona espaço entre as imagens */
}

#descricao {
  font-weight: 800;
}

.header-link {
  color: #ffffff;
  font-weight: 600;
  /*topo, direita, baixo, esquerda*/
  padding: 40px 0px 0px 0px;
  text-decoration: none;
  font-size: large;
  display: block;
  margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento entre os botões */
}

/* 
#menu ul {
    list-style: none;
}

#menu2 ul {
    list-style: none;
}
*/

footer {
  text-align: center;
  margin-top: 20px;
  background-color: #e4c333;
  padding: 1px 1px 1px 1px;
  width: 100%;
}

#botaoacesso {
  background-color: #f55b47;
  border: none;
  border-radius: 8px;
  color: #000000;
  /*topo, direita, baixo, esquerda*/
  padding: 5px 4px;
  font-size: 30px;
  font-weight: 800;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

#receitas {
  text-align: center;
}

#sugestao button {
  background-color: #f55b47;
  border: none;
  border-radius: 8px;
  color: #000000;
  padding: 5px 4px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

#sugestao a {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
}

#sugestoes {
  align-items: center;
}

#adicionar-receita-button {
  text-align: center;
  margin: 20px auto;
}

#adicionar-receita-button button {
  background-color: #f55b47;
  border: none;
  border-radius: 8px;
  color: #000000;
  padding: 10px 20px;
  font-size: larger;
  cursor: pointer;
  font-weight: 700;
}

#adicionar-receita-button a {
  text-decoration: none;
  color: #000000;
}
