<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Receita</title>
</head>

<body>
    <div class="container">
        <h1>Adicionar Receita</h1>

        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <strong>Sucesso!</strong> {{ message }}
            {% endfor %}
        </div>
        {% endif %}


        <form method="post" action="{% url 'adicionar_receita' %}"> {% csrf_token %}
            <label for="nome">Nome da receita:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="ingredientes">Ingredientes:</label>
            <textarea id="ingredientes" name="ingredientes" required></textarea>

            <label for="modo_preparo">Modo de Preparo:</label>
            <textarea id="modo_preparo" name="modo_preparo" required></textarea>

            <label for="nome_pessoa">Seu nome:</label>
            <input type="text" id="nome_pessoa" name="nome_pessoa" required>

            <label for="email">Insira seu email:</label>
            <input type="email" id="email" name="email" required>
            <br>

            <br>
            <button type="submit" class="button">Adicionar Receita</button>
            <br>
            <a class="button" href="/receitas/acesso" style="text-align: center">Voltar para as receitas</a>
        </form>
    </div>
</body>
</html>
