<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Receita</title>
</head>

<body>
    <div class="container">
        <h1>Adicionar Sugestão</h1>

        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <strong>Sucesso!</strong> {{ message }}
            {% endfor %}
        </div>
        {% endif %}


        <form method="post" action="{% url 'sugestao' %}" > {% csrf_token %}
            <label for="nome_pessoa">Seu nome:</label>
            <input type="text" id="nome_pessoa" name="nome_pessoa" required>

            <label for="assunto_sugestao">Assunto da sugestão:</label>
            <textarea id="assunto_sugestao" name="assunto_sugestao" required></textarea>

            <label for="sugestao">Insira o texto da sua sugestão:</label>
            <textarea id="sugestao" name="sugestao" required></textarea>

            <label for="email">Insira seu email:</label>
            <input type="email" id="email" name="email" required>
            <br>

            <br>
            <button type="submit" class="button">Adicionar Sugestão</button>
            <br>
            <a class="button" href="/receitas/acesso" style="text-align: center">Voltar para as receitas</a>
        </form>
    </div>
</body>
</html>
