<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Pastel de forno</title>
    <link rel="shortcut icon"
    type="image/x-icon"
    href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">
    </head>
<body>
    <header>
        <h2>Catálogo de Receitas</h2>
        <h2>Feito por André</h2>
        <h1>Pastel de forno:</h1>
    </header>

    <section class="recipe-ingredients">
        <img src="https://cdn.glitch.global/6848f9dd-8b39-48fd-a864-6491a1469f79/pastel.jpg?v=1705171156649" alt="Pastel de forno">
        <div>
            <h2>Ingredientes:</h2>

         <ul>
        <li>1 colher (sopa) de fermento químico</li>
        <li>4 xícaras (chá) de farinha de trigo</li>
        <li>1 caixa de creme de leite</li>
        <li>7 colheres (sopa) de margarina</li>
        <li>1 colher (sopa) de sal</li>
        <li>300g de carne moída ou frango desfiado</li>
        <li>1 colher (sopa) de óleo</li>
        <li>1 tomate sem semente</li>
        <li>1 cebola pequena</li>
        <li>Temperos a gosto</li>
        <li>1 gema para pincelar</li>
    </ul>
        </div>
        <div>
            <h2>Modo de Preparo:</h2>
       <ol>
        <li>Em uma panela, coloque o óleo e refogue a carne moída comm a cebola, o
            tomate, <sup>1</sup>/<sub>2</sub> colher (sopa) de sal e temperos a gosto. Reserve</li>
        <li>Coloque a farinha de trigo, o restante do sal, o fermento em uma vasilha e misture</li>
        <li>Em seguida, acrescente o creme de leite, a margarina e amasse
            com as mão até obter uma masssa homogênea que não grude.</li>
            <li>Abra a masssa com um rolo e corte em formato de pastel.</li>
            <li>Coloque o recheio e feche a massa, apertando-a bem com um garfo.</li>
            <li>Pincele uma gema e leve para assar em uma assadeira untada e enfarinhada,
                em forno pré-aquecido à 200° por 30 minutos ou até dourar.</li>
            <li>Retire do forno e sirva.</li>
        </ol>
        </div>
    </section>
 <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p>Feito por André</p>
   <div class="related-recipes">

        <ol>
            <p><a href="{% url 'acesso' %}" >Voltar para a Tela Inicial</a></p>
        </ol>
    </div>


           </footer>
</body>
</html>