<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pão francês</title>
    <link rel="shortcut icon"
    type="image/x-icon"
    href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h2>Catálogo de Receitas</h2>
        <h2>Feito por André</h2>
      <h1>Pão francês:</h1>

    </header>

    <section class="recipe-ingredients">
        <img src="https://cdn.glitch.global/6848f9dd-8b39-48fd-a864-6491a1469f79/pao-frances.jpg?v=1701560903783" alt="Pão francês">
        <div>
           <h2>Ingredientes</h2>
         <ul>
        <li>500g de farinha de trigo</li>
        <li>1 colher (sopa) de açúcar</li>
        <li>1 colher (sopa) de manteiga</li>
        <li>1 colher (chá) de sal</li>
        <li>300mL de água gelada</li>

    </ul>
        </div>
        <div>
            <h2>Modo de Preparo:</h2>
       <ol>
        <li>Em uma vasilha, adicione a farinha de trigo, o açúcar, a manteiga, o sal e a água e misture bem.</li>
        <li>Coloque a massa em uma bancada e sove por aproximadamente 10 a 15 minutos, até ficar a massa ficar lisa e elástica.</li>
        <li>Cobra a massa e deixe descansar novamente por 1h.</li>
        <li>Divida a massa e modele em rolos pequenos.</li>
        <li>Coloque a massa em uma assadeira e deixe descansar por 30 minutos.</li>
         <li>Faça um corte por cima do pão, jogue um pouco de água por cima e leve ao forno pré-aquecido à 200° por aproximadamente 20 minutos.</li>
         <li>Retire do forno, espere esfriar e sirva.</li>

        </ol>
        </div>
    </section>
 <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p>Feito por André</p>
   <div class="related-recipes">

        <ol>
          <p><a href="{% url 'acesso' %}" >Voltar para a Tela Inicial</a></p>
        </ol>
    </div>

           </footer>
</body>
</html>