<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Panqueca</title>
    <link rel="shortcut icon"
    type="image/x-icon"
    href="D:\André\logohtmlcss2.png">
    
</head>
<body>
    <header>
        <h2>Catálogo de Receitas</h2>
        <h2>Feito por André</h2>
      <h1>Panqueca:</h1>
    </header>

    <section class="recipe-ingredients">
        <img src="panqueca.jpg" alt="Panqueca">
        <div>
            <h2>Ingredientes:</h2>
         <ul>
        <li>1 xícara (chá) de leite</li>
        <li>1 colher (sopa) de óleo</li>
        <li>1 pitada de sal</li>
        <li>1 ovo</li>
        <li>1 xícara (chá) de farinha de trigo.</li>    
       
    </ul>
        </div>
        <div>            
            <h2>Modo de Preparo:</h2>            
       <ol>
        <li>Bata todos os ingredientes no liquidificador.</li>        
        <li>Unte uma frigideira com um pouco de margarina ou óleo, espere esquentar, despeje um pouco da massa, após assar um lado, vire.</li>
        <li>Retire da frigideira e sirva.</li>
        </ol>
        </div>
    </section>
 <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p>Feito por André</p>
   <div class="related-recipes">
        <h3>Outras Receitas</h3>
        <ol>
            <p><a href="receita1.html">Pão de Batata</a></p>
            <p><a href="receita2.html">Pão de Forma</a></p>
            <p><a href="receita3.html">Foccacia</a></p>
            <p><a href="receita4.html">Pão pita</a></p>
            <p><a href="receita5.html">Bolo de chocolate</a> </p> 
            <p><a href="receita6.html">Bolo de cenoura</a></p>
            <p><a href="receita7.html">Bolo de banana</a></p>
            <p><a href="receita8.html">Bolo de limão</a></p>
            <p><a href="receita9.html">Pizza </a></p>
            <p><a href="receita10.html">Pão francês</a></p>
            <p><a href="receita12.html">Panqueca americana</a></p>
          
              
          
              
        
            <!-- Adicione mais conforme necessário -->
        </ol>
    </div>
     <p><a href="acesso.html" class="back-to-home">Voltar para a Tela Inicial</a></p> 
           </footer>
</body>
</html>