<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Pão de Batata</title>
    <link rel="shortcut icon"
    type="image/x-icon"
    href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">

</head>
<body>
    <header>

      <h1>Pão de batata</h1>
      <!--<h2>Tempo de Preparo: 2h 15min<br>Dificuldade: Fácil</h2>-->
    </header>

    <section class="recipe-ingredients">
        <img src="https://cdn.glitch.global/6848f9dd-8b39-48fd-a864-6491a1469f79/pao_batata.jpg?v=1701451173346" alt="Pão de Batata">
        <div>
            <h2>Pão de Batata</h2>
          <h2>Ingredientes:</h2>
            <ul>
                <li>1 ovo</li>
                <li>2 colheres (sopa) de açúcar</li>
                <li>2 colheres (sopa) de margarina derretida</li>
                <li>½ pacote de fermento seco</li>
                <li>1 colher (chá) de sal</li>
                <li>500g de farinha de trigo</li>
                <li>200ml de leite morno</li>
                <li>1 batata cozida grande amassada</li>
                <!-- Adicione mais ingredientes conforme necessário -->
            </ul>
        </div>
        <div>
            <h2>Modo de Preparo:</h2>
            <ol>
                <li>Adicione o ovo, o açúcar, a margarina, o leite, a batata e o fermento e misture um pouco.</li>
                <li>Adicione metade da farinha, misture, adicione o sal e o restante da farinha</li>
                <li>Misture bem e coloque na bancada para sovar.</li>
                <li>Sove de 10 a 12 minutos.</li>
                <li>Deixe descansar por 20 a 30 minutos.</li>
                <li>Divida a massa e faça bolinhas.</li>
                <li>Coloque na assadeira e deixe descansar por 1 hora.</li>
                <li>Leve ao forno pré-aquecido à 180º até ficar dourado.</li>
                <!-- Adicione mais etapas conforme necessário -->
            </ol>
        </div>
    </section>
   <!-- <nav id="botoesap">
        <ul>
    <li><button id="botaoa" type="submit"><a href="acesso.html">Anterior</a></button></li>
    <li><button id="botaop" type="submit"><a href="receita2.html">Próximo</a></button></li>
    </ul>
    </nav>-->
    <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p>Feito por André</p>

   <div class="related-recipes">
       <ol>
       <p><a href="{% url 'acesso' %}" >Voltar para a Tela Inicial</a></p>
        </ol>
    </div>

           </footer>


           <script src="script.js"></script>
</body>
</html>


