<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bolo de limão</title>
    <link rel="shortcut icon"
    type="image/x-icon"
    href="D:\André\logohtmlcss2.png">
    
</head>
<body>
    <header>
        <h2>Catálogo de Receitas</h2>
        <h2>Feito por André</h2>
      <h1>Bolo de limão:</h1>
    </header>

    <section class="recipe-ingredients">
        <img src="bolo-limao.jpg" alt="Bolo de limão">
        <div>
            <h2>Ingredientes:</h2>
         <ul>
        <li>3 ovos (pode ser 2)</li>
        <li>2 colheres (sopa) de margarina</li>
        <li>3/4 xícaras (chá) de leite</li>
        <li>3 xícaras (chá) de farinha de trigo</li>
        <li>1/2 xícara (chá) de limão espremido</li>
        <li>2 xícaras (chá) de açúcar</li>
        <li>1 colher (sopa) de fermento em pó</li>
        <li>Corante verde (opcional)</li>
    </ul>
        </div>
        <div>            
            <h2>Modo de Preparo:</h2>            
       <ol>
        <li>Em uma vasilha, adicione os osvos, o açúcar e a margarina e misture bem.</li>
        <li>Em seguida, adicone a farinha de trigo, o suco de limão (e o corante, se for utilizar), vá misturando e adicionando o leite aos poucos.</li>
        <li>Unte uma assadeira com margarina e farinha de trigo e reserve.</li>
        <li>Coloque a massa na assadeira e leve ao forno pré-aquecido à 180° até passar no teste do palito.</li>
        <li>Retire do forno, espere esfriar e desenforme.</li>
       
        </ol>
        </div>
    </section>
 <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p>Feito por André</p>
   <div class="related-recipes">
        <h3>Outras Receitas</h3>
        <ol>
            <p><a href="receita1.html">Pão de Batata</a></p>
            <p><a href="receita2.html">Pão de Forma</a></p>
            <p><a href="receita3.html">Foccacia</a></p>
            <p><a href="receita4.html">Pão pita</a></p>
            <p><a href="receita5.html">Bolo de chocolate</a> </p> 
            <p><a href="receita6.html">Bolo de cenoura</a></p>
            <p><a href="receita7.html">Bolo de banana</a></p>
           
            <p><a href="receita9.html">Pizza </a></p>
            <p><a href="receita10.html">Pão francês</a></p>
            <p><a href="receita11.html">Panqueca</a></p>
             <p><a href="receita12.html">Panqueca americana</a></p>
            <!-- Adicione mais conforme necessário -->
        </ol>
    </div>
     <p><a href="acesso.html" class="back-to-home">Voltar para a Tela Inicial</a></p> 
           </footer>
</body>
</html>
