<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">
    <title>Acesso às Receitas</title>
</head>

<body>
    <header>
        <h1>Acesso às Receitas</h1>

        <h2>
            Se você chegou até aqui, é porque está prestes a desvendar o delicioso
            universo das nossas receitas! Prepare-se para uma jornada
            gastronômica repleta de sabores irresistíveis. Clique nos links abaixo e
            deixe-se guiar pelo passo a
            passo de cada prato. Afinal, a arte da culinária está a apenas um clique de
            distância. Bom apetite e aproveite cada descoberta!
        </h2>

        <br><br>

        <div id="receitas"> <!-- TODO: ID repetido -->
            <ul>
                <li><a href="/receitas/buscar">Buscar Receitas</a></li>
            </ul>
        </div>
    </header>

    <nav id="receitas"> <!-- TODO: ID repetido -->
        <h3>Escolha a categoria de comidas que deseja ver as receitas:</h3>
        <br><br><br>

        <ul>
            <li><a href="{% url 'paes' %}">Pães</a></li>
            <br>
            <li><a href="{% url 'bolos' %}">Bolos</a></li>
            <br>
            <li><a href="{% url 'outras_sobremesas' %}">Outras sobremesas</a></li>
            <br>
            <li><a href="{% url 'outras_massas_e_salgados' %}">Outras massas e salgados</a></li>
            <br>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2024 Catálogo de Receitas</p><br>
        <p>Feito por André</p>
        <p>Versão da página: 2.2.1</p>

        <nav id="portal">
            <ul>
                <br>
                <li>
                    <button id="botao14" type="submit"><a href="/receitas/home">Retorne ao Portal do catálogo</a></button>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>