<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bolos.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">
    <title>Acesso às Receitas</title>
</head>

<body>
    <header>
        <h1>Acesso às Receitas de Bolos</h1>
        <h2>
            De bolos simples e reconfortantes a sobremesas elegantes e sofisticadas,
            esta categoria oferece uma ampla seleção de receitas para satisfazer os mais
            diversos paladares. Desde bolos clássicos, como bolo de chocolate e bolo de
            laranja, até opções mais exóticas, como bolo indiano e bolo amélia, você encontrará
            inspiração para todas as ocasiões nesta coleção de receitas de bolos!
        </h2>
        <p>Créditos: Desenvolvido com amor por André e inspirado pelo ChatGPT.</p>
    </header>

    <nav id="receitas">
        <ul>
            {% for receita in receitas %}
            <li><a href="{% url 'exibir_receita' num_receita=receita.id %}">{{ receita.nome }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p>Feito por André</p>
        <p>Versão do Projeto: 1.0.0</p>

        <nav id="portal">
            <ul>
                <li><button id="botao14" type="submit"><a href="/receitas/acesso">Retorne ao catálogo</a></button></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
