<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'receitas/css/buscar_receitas.css' %}">
    <title>Buscar Receitas</title>
</head>

<body>
    <h1>Buscar Receitas</h1>

    <form action="{% url 'buscar_receitas' %}" method="GET">
        <label for="busca">Buscar por nome de receita:</label>
        <input type="text" id="busca" name="q" value="{{ termo_busca }}">
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for receita in receitas %}
            <li><a href="{% url 'exibir_receita' num_receita=receita.id %}">{{ receita.nome }}</a></li>
        {% empty %}
            <li>Nenhuma receita encontrada.</li>
        {% endfor %}
    </ul>
</body>
</html>