<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'receitas/css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">
    <title>Catálogo de Receitas</title>
</head>

<body>
    <header>
        <h1>Seja bem-vindo ao meu <br>Catálogo de Receitas</h1>
        <a href="#descricao">Sobre o catálogo</a>
        <a href="#image-section">Imagens</a>
        <a href="#receitas">Acesso às receitas</a>
    </header>

    <section id="descricao">
        <button id="toggle-dark-mode-button" onclick="toggleDarkMode()">Alternar Modo Escuro</button>
        <script src="{% static 'receitas/js/home.js' %}"></script>

        <h1>O que é esse catálogo?</h1>
        <p>
            Este catálogo é uma coleção dedicada de receitas caseiras que compilei especialmente para compartilhar com vocês.
            Explore uma variedade encantadora de pratos, desde diversos tipos de pães até bolos irresistíveis e panquecas deliciosas.
            Cada receita é uma jornada pela culinária caseira, oferecendo uma experiência única e cheia de sabor.
            Das clássicas refeições acolhedoras a deliciosas sobremesas, este catálogo é um convite
            para transformar sua cozinha em um verdadeiro laboratório de criação gastronômica.
            Sinta-se em casa enquanto navega por estas receitas, repletas de amor, tradição e o prazer genuíno de compartilhar momentos à mesa.
            <br>
            Bem-vindo ao meu universo culinário, onde a simplicidade se transforma em algo extraordinário,
            proporcionando a você uma jornada única por diversos pães, bolos irresistíveis e panquecas deliciosas
        </p>
    </section>

    <section id="image-section">
        <div>
            <h1>Imagens das receitas</h1>
            <p>
                Explore nosso catálogo de receitas e deixe-se tentar pelas imagens irresistíveis de pães, bolos e panquecas.
                Cada foto é uma amostra visual do sabor caseiro que você pode trazer para a sua cozinha.
                Descubra inspiração culinária em cada imagem e transforme essas delícias em realidade
            </p>
        </div>

        {% for receita in receitas %}
            <a href="{% url 'exibir_receita' receita.id %}"><img src="{{ receita.imagem }}" alt="{{ receita.nome }}"></a>
        {% endfor %}
    </section>

    <section id="receitas">
        <h3>
            Agora, vamos ao que realmente interessa: as receitas que vão transformar seus momentos na cozinha em experiências incríveis.
            Para conferir cada detalhe delicioso, basta clicar nas imagens abaixo e se deliciar com o passo a passo de cada receita.
            Inspire-se na arte da culinária caseira e descubra sabores únicos ao alcance de um clique!
        </h3>

        <br><a id="botaoacesso" href="{% url 'acesso' %}">Acesso às receitas</a><br> <!-- TODO: ID repetido -->

        <br><a id="botaoacesso" href="/receitas/buscar">Buscar receitas</a><br> <!-- TODO: ID repetido -->

        <div id="adicionar-receita-button">
            <a href="{% url 'adicionar_receita' %}"><button>Adicionar Receita</button></a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <p> Feito por André</p>

        <section id="sugestoes">
            <h2>Deixe sua Sugestão abaixo</h2>
            <button id="sugestao" type="submit"><a href="{% url 'sugestao' %}">Clique para preencher o formulário</a></button>
        </section>
    </footer>

</body>
</html>