<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'receitas/css/bolos.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.global/3c687421-679e-41f8-bbe5-a45b11c4f3d4/logosite1.jpeg?v=1708026606803">
    <title>Acesso às Receitas</title>
</head>

<body>
    <header>
        <h1>Acesso às Receitas de pães</h1>
        <h2>
            Para os amantes da gastronomia salgada, esta categoria oferece uma
            seleção de massas e salgados deliciosos para todas as ocasiões.
            Desde panquecas macias e panquecas americanas até pastéis de forno
            crocantes e massas para salgados de forno, há algo aqui para todos os
            gostos e preferências culinárias!
        </h2>
        <p>Créditos: Desenvolvido com amor por André e inspirado pelo ChatGPT.</p>
    </header>

    <nav id="receitas">
        <br><br><br>
        <ul>
            {% for receita in receitas %}
            <li><a href="{% url 'exibir_receita' num_receita=receita.id %}">{{ receita.nome }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <footer>
        <p>&copy; 2024 Catálogo de Receitas</p>
        <br>
        <p>Feito por André</p>
        <p>Versão do Projeto: 1.0.0</p>
        <br>
        <nav id="portal">
            <ul>
                <li><button id="botao14" type="submit"><a href="/receitas/acesso">Retorne ao catálogo</a></button></li>
            </ul>
        </nav>
    </footer>
</body>
</html>