<!-- templates/receita_detail.html -->
<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/receita_detail.css' %}">
    <title>{{ receita.nome }}</title>
</head>

<body>
    <header>
        <h1>{{ receita.nome }}</h1>
        <p><strong>Categoria:</strong> {{ receita.categoria.nome }}</p>
    </header>

    <section class="recipe-ingredients">
        <div>
            <img src="{{ receita.imagem }}" alt="{{ receita.nome }}">
            <h2>Ingredientes</h2>
            <ul>
                {% for ingrediente in ingredientes %}
                    <li><pre>{{ ingrediente }}</pre></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Modo de Preparo</h2>
            <p>{{ receita.modo_preparo }}</p>
        </div>

        {% if receita.nome_pessoa %}
            <h2>Informações Adicionais</h2><br>
            <h2>Receita enviada por: <strong>{{ receita.nome_pessoa }}</strong></h2>
        {% endif %}

        {% if receita.email %}
            <h2><strong>{{ receita.email }}</strong></h2>
        {% endif %}
    </section>

    <footer>
        <p>&copy; 2023 Catálogo de Receitas</p>
        <p>Feito por Androlas</p>
        <p><a href="/receitas/acesso" class="back-to-home">Voltar para a Tela Inicial</a></p>
    </footer>
</body>
</html>
